name: Publish

run-name: Publish ${{ github.event.inputs.DesktopVersion }} by @${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      DesktopVersion:
        description: Deskstop Version
        required: true

jobs:
  Bump:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        id: code-checkout
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@noop-inc'

      - name: Install Node Modules
        id: install-node-modules
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Code Linting
        id: lint-code
        run: npm run lint

      - name: Verify Workshop VM Release
        id: verify-workshop-vm-release
        run: |
          # Verify the specified Workshop VM version exists
          WORKSHOP_VM_VERSION=`node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc']['workshop-vm'])"`
          gh release view "v${WORKSHOP_VM_VERSION}" -R "noop-inc/workshop-vm"
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Verify CLI Release
        id: verify-cli-release
        run: |
          # Verify the specified Workshop VM version exists
          CLI_VERSION=`node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc'].cli)"`
          gh release view "v${CLI_VERSION}" -R "noop-inc/cli"
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Bump Version
        id: bump-version
        run: node .github/workflows/bump.js
        env:
          VERSION_INPUT: ${{ github.event.inputs.DesktopVersion }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Desktop Release
        id: create-desktop-release
        run: |
          # Verify an existing Desktop release, and create new release if needed
          gh release view "${VERSION_INPUT}" || gh release create "${VERSION_INPUT}" -d -p --verify-tag -t "${VERSION_INPUT}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION_INPUT: ${{ github.event.inputs.DesktopVersion }}

  Publish:
    needs: Bump
    name: Publish Release
    runs-on: ${{matrix.runner}}
    strategy:
      matrix:
        include:
          - runner: macos-26
            ext: disk
          - runner: windows-2025
            ext: tar.gz

    steps:
      - name: Code Checkout
        id: code-checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.DesktopVersion }}

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@noop-inc'

      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install Apple certificate
        if: ${{ startsWith(matrix.runner, 'macos') }}
        id: install-apple-certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          CERTIFICATE_IDENTITY: ${{ secrets.CERTIFICATE_IDENTITY }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          security find-identity -p codesigning -v

      - name: Install Node Modules
        id: install-node-modules
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Download Workshop VM
        id: download-workshop-vm
        shell: bash
        run: |
          WORKSHOP_VM_VERSION=`node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc']['workshop-vm'])"`
          gh release download "v${WORKSHOP_VM_VERSION}" -p "noop-workshop-vm-v${WORKSHOP_VM_VERSION}-*.${WORKSHOP_EXT}" -R "noop-inc/workshop-vm"
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}
          WORKSHOP_EXT: ${{ matrix.ext }}

      - name: Download CLI
        id: download-cli
        shell: bash
        run: |
          CLI_VERSION=`node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc'].cli)"`
          OS_PLATFORM=`node -e "console.log(os.platform())"`
          gh release download "v${CLI_VERSION}" -p "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-*.zip" -R "noop-inc/cli"
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Decompress CLI
        if: ${{ startsWith(matrix.runner, 'macos') }}
        id: decompress-cli-mac
        run: |
          CLI_VERSION=`node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc'].cli)"`
          OS_PLATFORM=`node -e "console.log(os.platform())"`
          ditto -x -k "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-x64.zip" ./
          ditto -x -k "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-arm64.zip" ./
          rm -f "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-x64.zip"
          rm -f "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-arm64.zip"

      - name: Build and Publish Desktop (mac x64)
        if: ${{ startsWith(matrix.runner, 'macos') }}
        id: build-and-publish-desktop-mac-x64
        run: |
          npm run postinstall --prefix node_modules/@noop-inc/desktop-qemu -- --arch x64
          npm run publish -- --arch x64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Build and Publish Desktop (mac arm64)
        if: ${{ startsWith(matrix.runner, 'macos') }}
        id: build-and-publish-desktop-mac-arm64
        run: |
          npm run postinstall --prefix node_modules/@noop-inc/desktop-qemu -- --arch arm64
          npm run publish -- --arch arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Decompress CLI
        if: ${{ startsWith(matrix.runner, 'windows') }}
        id: decompress-cli-windows
        run: |
          $CLI_VERSION = node -e "console.log(JSON.parse(fs.readFileSync(path.resolve('./package.json')).toString())['@noop-inc'].cli)"
          $OS_PLATFORM = node -e "console.log(require('os').platform())"
          Expand-Archive -Path "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-x64.zip" -DestinationPath ./
          # Expand-Archive -Path "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-arm64.zip" -DestinationPath ./
          Remove-Item -Path "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-x64.zip" -Force -ErrorAction SilentlyContinue
          # Remove-Item -Path "noop-cli-v${CLI_VERSION}-${OS_PLATFORM}-arm64.zip" -Force -ErrorAction SilentlyContinue

      - name: Build and Publish Desktop (windows x64)
        if: ${{ startsWith(matrix.runner, 'windows') }}
        id: build-and-publish-desktop-windows-x64
        run: |
          npm run publish -- --arch x64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      # - name: Build and Publish Desktop (windows arm64)
      #   if: ${{ startsWith(matrix.runner, 'windows') }}
      #   id: build-and-publish-desktop-windows-arm64
      #   run: |
      #     npm run publish -- --arch arm64
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}
