name: Code Quality

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@noop-inc'

      - name: Install Dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}

      - name: Code Linting
        run: npm run lint
